

{% extends "layout.html" %}  <!-- This line is for the layout.

  we fetch the header from layout.html so extends it to that 
  
  
  when I extend it to the layout it go to according to that template and where it found blocks of body it fetch it from here  
  
  
  
  -->
  {% block body %}   


<!-- Page Header -->
<header class="masthead" style="background-image: url(' {{ url_for('static', filename='img/about-bg.jpg')}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container" style="margin-left: 25rem;" >
<div class="col-md-4">
  <div class="card mt-3 mb-5 mx-5" style="width: 28rem; height: 40rem ">
      <img class="card-img-top" src="{{url_for('static', filename='img/qm.jpg')}}" height="300px">
      <div class="card-body my-3">
          <h3 class="card-title"> <a href="ThreadsList.php? Catid='. $ID .'">Mansi Jindal </a> </h3>
          <small> President  </small>
          <p class="card-text">
          Lore Lorem ipsum dolor 
          em necessitatibus nesciunt sequi explicabo repellendus? Quos tempore pariatur quae hic. Nulla, quae?</p>
    
      </div>
  </div></div>
  
</div>

<div class="row">
<div class="col-md-4">
  <div class="card mt-3 mb-5 mx-5" style="width: 18rem; height: 38rem">
      <img class="card-img-top" src="{{url_for('static', filename='img/qm.jpg')}}" height="236px">
      <div class="card-body my-3">
          <h3 class="card-title"> <a href="ThreadsList.php? Catid='. $ID .'">Hardik Phalet </a> </h3>
          <small> Vice President  </small>
          <p class="card-text">
          Lore Lorem ipsum dolor 
          em necessitatibus nesciunt sequi explicabo repellendus? Quos tempore pariatur quae hic. Nulla, quae?</p>
    
      </div>
  </div>
  
</div>

<div class="col-md-4">
  <div class="card mt-3 mb-5 mx-5" style="width: 18rem; height: 38rem">
      <img class="card-img-top" src="{{url_for('static', filename='img/qm.jpg')}}" height="236px">
      <div class="card-body my-3">
          <h3 class="card-title"> <a href="ThreadsList.php? Catid='. $ID .'">Meghna Rawat</a> </h3>
          <small> Secretary  </small>
          <p class="card-text">
          Lore Lorem ipsum dolor 
          em necessitatibus nesciunt sequi explicabo repellendus? Quos tempore pariatur quae hic. Nulla, quae?</p>
    
      </div>
  </div>
  
</div>
<div class="col-md-4">
  <div class="card mt-3 mb-5 mx-5" style="width: 18rem; height: 38rem">
      <img class="card-img-top" src="{{url_for('static', filename='img/qm.jpg')}}" height="236px">
      <div class="card-body my-3">
          <h3 class="card-title"> <a href="ThreadsList.php? Catid='. $ID .'">Umam</a> </h3>
          <small> Sponsorship Head  </small>
          <p class="card-text">
          Lore Lorem ipsum dolor 
          em necessitatibus nesciunt sequi explicabo repellendus? Quos tempore pariatur quae hic. Nulla, quae?</p>
    
      </div>
  </div>
  
</div>
 </div>









 <div class="row">
  <div class="col-md-4">
    <div class="card mt-3 mb-5 mx-5" style="width: 18rem; height: 38rem">
        <img class="card-img-top" src="{{url_for('static', filename='img/qm.jpg')}}" height="236px">
        <div class="card-body my-3">
            <h3 class="card-title"> <a href="ThreadsList.php? Catid='. $ID .'">Pulkit gupta </a> </h3>
            <small> Treasurer and Event management taem  </small>
            <p class="card-text">
            Lore Lorem ipsum dolor 
            em necessitatibus nesciunt sequi explicabo repellendus? Quos tempore pariatur quae hic. Nulla, quae?</p>
      
        </div>
    </div>
    
  </div>
  





  <div class="col-md-4">
    <div class="card mt-3 mb-5 mx-5" style="width: 18rem; height: 38rem">
        <img class="card-img-top" src="{{url_for('static', filename='img/qm.jpg')}}" height="236px">
        <div class="card-body my-3">
            <h3 class="card-title"> <a href="ThreadsList.php? Catid='. $ID .'">Sinjini Ghosh </a> </h3>
            <small> Creative and Sponsorship Team  </small>
            <p class="card-text">
            Lore Lorem ipsum dolor 
            em necessitatibus nesciunt sequi explicabo repellendus? Quos tempore pariatur quae hic. Nulla, quae?</p>
      
        </div>
    </div>
    
  </div>
  <div class="col-md-4">
    <div class="card mt-3 mb-5 mx-5" style="width: 18rem; height: 38rem">
        <img class="card-img-top" src="{{url_for('static', filename='img/qm.jpg')}}" height="236px">
        <div class="card-body my-3">
            <h3 class="card-title"> <a href="ThreadsList.php? Catid='. $ID .'">Navya Rna </a> </h3>
            <small> Creative and Journal Team </small>
            <p class="card-text">
            Lore Lorem ipsum dolor 
            em necessitatibus nesciunt sequi explicabo repellendus? Quos tempore pariatur quae hic. Nulla, quae?</p>
      
        </div>
    </div>
    
  </div>

  <div class="col-md-4">
    <div class="card mt-3 mb-5 mx-5" style="width: 18rem; height: 38rem">
        <img class="card-img-top" src="{{url_for('static', filename='img/qm.jpg')}}" height="236px">
        <div class="card-body my-3">
            <h3 class="card-title"> <a href="ThreadsList.php? Catid='. $ID .'">Vishal </a> </h3>
            <small> Event Management and Sponsorship team  </small>
            <p class="card-text">
            Lore Lorem ipsum dolor 
            em necessitatibus nesciunt sequi explicabo repellendus? Quos tempore pariatur quae hic. Nulla, quae?</p>
      
        </div>
    </div>
    
  </div>
  




  
  <div class="col-md-4">
    <div class="card mt-3 mb-5 mx-5" style="width: 18rem; height: 38rem">
        <img class="card-img-top" src="{{url_for('static', filename='img/qm.jpg')}}" height="236px">
        <div class="card-body my-3">
            <h3 class="card-title"> <a href="ThreadsList.php? Catid='. $ID .'">Harsh Bindal </a> </h3>
            <small> Programming Head and Event Management Team  </small>
            <p class="card-text">
            Lore Lorem ipsum dolor 
            em necessitatibus nesciunt sequi explicabo repellendus? Quos tempore pariatur quae hic. Nulla, quae?</p>
      
        </div>
    </div>
    
  </div>
  <div class="col-md-4">
    <div class="card mt-3 mb-5 mx-5" style="width: 18rem; height: 38rem">
        <img class="card-img-top" src="{{url_for('static', filename='img/qm.jpg')}}" height="236px">
        <div class="card-body my-3">
            <h3 class="card-title"> <a href="ThreadsList.php? Catid='. $ID .'">Sharon Sara </a> </h3>
            <small> Graphic design and Journal Team  </small>
            <p class="card-text">
            Lore Lorem ipsum dolor 
            em necessitatibus nesciunt sequi explicabo repellendus? Quos tempore pariatur quae hic. Nulla, quae?</p>
      
        </div>
    </div>
    
  </div>
  <div class="col-md-4">
    <div class="card mt-3 mb-5 mx-5" style="width: 18rem; height: 38rem">
        <img class="card-img-top" src="{{url_for('static', filename='img/qm.jpg')}}" height="236px">
        <div class="card-body my-3">
            <h3 class="card-title"> <a href="ThreadsList.php? Catid='. $ID .'">Jay Ingle </a> </h3>
            <small> Graphic design and Quiz Team  </small>
            <p class="card-text">
            Lore Lorem ipsum dolor 
            em necessitatibus nesciunt sequi explicabo repellendus? Quos tempore pariatur quae hic. Nulla, quae?</p>
      
        </div>
    </div>
    
  </div>
  




  
  <div class="col-md-4">
    <div class="card mt-3 mb-5 mx-5" style="width: 18rem; height: 38rem">
        <img class="card-img-top" src="{{url_for('static', filename='img/qm.jpg')}}" height="236px">
        <div class="card-body my-3">
            <h3 class="card-title"> <a href="ThreadsList.php? Catid='. $ID .'">Lael John </a> </h3>
            <small> Programming Head and Quiz Team  </small>
            <p class="card-text">
            Lore Lorem ipsum dolor 
            em necessitatibus nesciunt sequi explicabo repellendus? Quos tempore pariatur quae hic. Nulla, quae?</p>
      
        </div>
    </div>
    
  </div>
  <div class="col-md-4">
    <div class="card mt-3 mb-5 mx-5" style="width: 18rem; height: 38rem">
        <img class="card-img-top" src="{{url_for('static', filename='img/qm.jpg')}}" height="236px">
        <div class="card-body my-3">
            <h3 class="card-title"> <a href="ThreadsList.php? Catid='. $ID .'">Cyril Mathew </a> </h3>
            <small> Graphic design and quiz team </small>
            <p class="card-text">
            Lore Lorem ipsum dolor 
            em necessitatibus nesciunt sequi explicabo repellendus? Quos tempore pariatur quae hic. Nulla, quae?</p>
      
        </div>
    </div>
    
  </div>
  

   </div>



  {% endblock %}