

{% extends "layout.html" %}  <!-- This line is for the layout.

  we fetch the header from layout.html so extends it to that 
  
  
  when I extend it to the layout it go to according to that template and where it found blocks of body it fetch it from here  
  
  
  
  -->
  {% block body %}   


<!-- Page Header -->
<header class="masthead" style="background-image: url(' {{ url_for('static', filename='img/about-bg.jpg')}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">From the code on the screen to the controller in your hand, technology touches every aspect of life.
            And we at Computer Science Society wish to go through it all , one byte at a time</span>
        </div>
      </div>
    </div>
  </div>
</header>



  <div class="card text-white bg-dark  mt-3 mb-5 mx-auto" style="width: 22rem; height: 50rem ">
      <img class="card-img-top" src="{{url_for('static', filename='img/Mansi.jpg')}}" height="390px">
      <div class="card-body my-3">
          <h3 class="card-title"> <a href="https://www.linkedin.com/in/mansi-jindal-315588179 " class="text-white">Mansi Jindal </a> </h3>
          <small> President  </small>
          <p class="card-text h3">
            I am an optimistic individual who has got aspirations in life to keep moving forward to achieve my goals.</p>
          </div>
  </div>
<hr>



<div class="row">
<div class="col-md-4">
  <div class="card text-white bg-dark  mt-3 mb-5 mx-5" style="width: 18rem; height: 42rem">
      <img class="card-img-top" src="{{url_for('static', filename='img/Hardik.jpg')}}" height="275px">
      <div class="card-body my-3">
          <h3 class="card-title"> <a href="https://www.linkedin.com/in/hardik-phalet-626aa3157" class="text-white">Hardik Phalet </a> </h3>
          <small> Vice President  </small>
          <p class="card-text h4">
            I think, therefore I don't sleep. I love cats. Ban crocs, they're an abomination. 
          </p>
    
      </div>
  </div>
  
</div>

<div class="col-md-4">
  <div class="card text-white bg-dark  mt-3 mb-5 mx-5" style="width: 18rem; height: 42rem">
      <img class="card-img-top" src="{{url_for('static', filename='img/Meghna.jpg')}}" height="275px">
      <div class="card-body my-3">
          <h3 class="card-title"> <a href="https://www.linkedin.com/in/cyril-mathew-a2427117b" class="text-white">Meghna Rawat</a> </h3>
          <small> Secretary  </small>
          <p class="card-text h4">
            I solemnly swear that I am upto no good
          </p>
    
      </div>
  </div>
  
</div>
<div class="col-md-4">
  <div class="card text-white bg-dark  mt-3 mb-5 mx-5" style="width: 18rem; height: 42rem">
      <img class="card-img-top" src="{{url_for('static', filename='img/Umam.jpg')}}" height="275px">
      <div class="card-body my-3">
          <h3 class="card-title"> Umam </h3>
          <small> Sponsorship Head  </small>
          <p class="card-text">
            I am Syed Umamuddin, pursuing Math from St. Stephen's College. Development is closely related with technology.
             I want to optimize time in technology to increase its accessibility to the poor.
          </p>
    
      </div>
  </div>
  
</div>
 </div>

<hr>







 <div class="row">
  <div class="col-md-4">
    <div class="card text-white bg-dark  mt-3 mb-5 mx-5" style="width: 18rem; height: 42rem">
        <img class="card-img-top" src="{{url_for('static', filename='img/Pulkit.jpg')}}" height="275px">
        <div class="card-body my-1 ">
            <h3 class="card-title"> <a href="https://www.linkedin.com/in/pulkit11" class="text-white">Pulkit gupta </a> </h3>
            <small> Treasurer and Event management taem  </small>
            <p class="card-text">
            I am Treasurer of the society. 
              I have interest in Computer Science World, especially Data science and Programming. Likes to have fun with Data and converting Data to Insights.
            </p>
      
        </div>
    </div>
    
  </div>
  





  <div class="col-md-4">
    <div class="card text-white bg-dark  mt-3 mb-5 mx-5" style="width: 18rem; height: 42rem">
        <img class="card-img-top" src="{{url_for('static', filename='img/Sinjini.jpg')}}" height="275px">
        <div class="card-body my-3">
            <h3 class="card-title"> <a href="https://www.linkedin.com/in/sinjini-ghosh-73b211192" class="text-white">Sinjini Ghosh </a> </h3>
            <small> Creative and Sponsorship Team  </small>
            <p class="card-text h4">
              Just another introvert trying to dive into the vast ocean of computer science. 
            </p>
      
        </div>
    </div>
    
  </div>
  <div class="col-md-4">
    <div class="card text-white bg-dark  mt-3 mb-5 mx-5" style="width: 18rem; height: 42rem">
        <img class="card-img-top" src="{{url_for('static', filename='img/navya.jpeg')}}" height="275px">
        <div class="card-body my-3">
            <h3 class="card-title"> Navya Rana  </h3>
            <small> Creative and Journal Team </small>
            <p class="card-text h3">
              I hate introductions.

          </p>
      
        </div>
    </div>
    
  </div>

  <div class="col-md-4">
    <div class="card text-white bg-dark  mt-3 mb-5 mx-5" style="width: 18rem; height: 42rem">
        <img class="card-img-top" src="{{url_for('static', filename='img/vishal.jpg')}}" height="275px">
        <div class="card-body my-1">
            <h3 class="card-title"> <a href="https://www.linkedin.com/in/v4vishal4vs" class="text-white">Vishal </a> </h3>
            <small > Event Management and Sponsorship team  </small>
            <p class="card-text">
              
               I'm working with this society because my interests includes programming languages, AI, machine and learning and literally everything in the tech world.
            </p>
      
        </div>
    </div>
    
  </div>
  




   
  <div class="col-md-4">
    <div class="card text-white bg-dark  mt-3 mb-5 mx-5" style="width: 18rem; height: 42rem">
        <img class="card-img-top" src="{{url_for('static', filename='img/me.jpg')}}" height="275px">
        <div class="card-body my-1">
            <h3 class="card-title"> <a href="https://www.linkedin.com/in/harsh-bindal-a394511a2" class="text-white">Harsh Bindal </a> </h3>
            <small> Programming Head and Event Management Team  </small>
            <p class="card-text h4">
            Cool, Smart , Humourous,Immature, Deadline Lover, Out of the box thinker......<br> 
             Kabhi Kabhi to Lagta h Apun Hi Bhagwan hai😉😉
            </p>
      
        </div>
    </div>
    
  </div>
  <div class="col-md-4">
    <div class="card text-white bg-dark  mt-3 mb-5 mx-5" style="width: 18rem; height: 42rem">
        <img class="card-img-top" src="{{url_for('static', filename='img/sharon.jpg')}}" height="275px">
        <div class="card-body my-3 ">
            <h3 class="card-title"> <a href="https://www.linkedin.com/in/sharon-alex-488681192" class="text-white">Sharon Sara </a> </h3>
            <small> Graphic design and Journal Team  </small>
            <p class="card-text h4">
              A BA Programme student with a penchant for rambles. Enjoys learning new things, art and places.
            </p>
      
        </div>
    </div>
    
  </div>
  <div class="col-md-4">
    <div class="card text-white bg-dark  mt-3 mb-5 mx-5" style="width: 18rem; height: 42rem">
        <img class="card-img-top" src="{{url_for('static', filename='img/Jay.jpg')}}" height="275px">
        <div class="card-body my-3">
            <h3 class="card-title"> <a href="https://www.linkedin.com/in/jay-ingle-38a00b194" class="text-white"> Jay Ingle </a> </h3>
            <small> Graphic design and Quiz Team  </small>
            <p class="card-text">
              "I'm Jay and the most likely thing about me is that if I'm not constructive at any moment of
               time, then surely I'm sleeping! I'm a Chemistry student with a math enthusiastic nature
              </p>
      
        </div>
    </div>
    
  </div>
  




  
  <div class="col-md-4">
    <div class="card text-white bg-dark  mt-3 mb-5 mx-5" style="width: 18rem; height: 42rem">
        <img class="card-img-top" src="{{url_for('static', filename='img/Lael.jpeg')}}" height="275px">
        <div class="card-body my-3">
            <h3 class="card-title"> Lael John </h3>
            <small> Programming Head and Quiz Team  </small>
            <p class="card-text">
              "Human. Bookworm. He/his.
              “Do not go gentle into that good night,
              Rage, rage against the dying of the light.”"
              </p>
      
        </div>
    </div>
    
  </div>
  <div class="col-md-4">
    <div class="card text-white bg-dark  mt-3 mb-5 mx-5" style="width: 18rem; height: 42rem">
        <img class="card-img-top" src="{{url_for('static', filename='img/cyril.jpg')}}" height="275px">
        <div class="card-body my-3">
            <h3 class="card-title"> <a href="https://www.linkedin.com/in/cyril-mathew-a2427117b" class="text-white">Cyril Mathew </a> </h3>
            <small> Graphic design and quiz team </small>
            <p class="card-text">
              An inquisitive person with dispersed interest, striving hard to make his own personality
               and reflecting on one question, "why so serious?".
            </p>
      
        </div>
    </div>
    
  </div>
  

   </div>



  {% endblock %}