{% extends "layout.html" %}
{%block body%}    



<header class="masthead mb-0" style="background-image: url(' {{ url_for('static', filename='img/Writer.jpg')}}');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Admin Panel</h1>
          <span class="subheading">Here we write the world's best posts</span>
        </div>
      </div>
    </div>
  </div>
</header>

{%with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for color,msg in messages %}
    <div class="alert alert-{{color}} alert-dismissible fade show" role="alert">
      {{ msg }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="container">
  <a href="/dashboard/edit/0"><button class="btn btn-primary my-4 ">
 New Article 
</button> </a>


<a href="/logout"><button class="btn btn-primary my-4 float-right" >
  Logout
 </button> </a>
<h1 class="my-3"> Upload an image (< 10MB)</h1> <hr>
<form action="/dashboard/uploader" method="post" enctype="multipart/form-data">
              
  <input type="file" name="ImgF">
  <button type="submit" class="btn btn-primary" >Submit</button>
  
              </form><!-- <table class="table table-dark my-4"> -->
<table class="table table-dark my-4">
  <thead>
    <tr>
      <th scope="col">Sno</th>
      <th scope="col">Title</th>
      <th scope="col">PostedBy</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>

    {%for Post in Posts%} 
    <tr>
      <th scope="row">{{Post.PostId}}</th>
      <td>{{Post.PostTitle}}</td>
      <td>{{Post.PostedBy}}</td>
      <td><a href="/dashboard/edit/{{Post.PostId}}"><button class="btn btn-primary"> edit </button></a></td>
      <td><a href="/delete/{{Post.PostId}}"><button  class="btn btn-danger "> delete  </button></a></td>
     
    
    </tr> {% endfor %}
  </tbody>
</table>


</div>
{% endblock%}
