

{% extends "layout.html" %}  <!-- This line is for the layout.

we fetch the header from layout.html so extends it to that 


when I extend it to the layout it go to according to that template and where it found blocks of body it fetch it from here  



-->


{% block body %}   

  <!-- Page Header -->
<header class="masthead mb-0" style="background-image: url(' {{ url_for('static', filename='img/home-bg.jpg')}}'">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Computer Science Society Blog</h1>
            <span class="subheading">A Blog for All</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">



<!-- 
Niche vale sab abhi post h jo dynamically database se aayenge for loop ki help se.

for consistency I also take just 4 articles at a time and then pagination -->




{%for Post in Posts%} 
        

<a href="/Post/{{Post.Slug}}">      </a>

        <div class="post-preview">
          <a href="Post/{{Post.slug}}">
            
              <h2 class="post-title">
                <li>              {{Post.PostTitle}}
             
            </h2>
          </a>
                    
          <p class="post-meta">Posted by
            {{Post.PostedBy}}
            on  {{Post.DT}}</p>
        </div>{{Post.PostContent[0:55]}}....
        <hr>

      {% endfor %}
    </li>

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{Next}}">Newer Posts &rarr;</a>
          <a class="btn btn-primary float-left" href="{{Prev}}">&larr; Previous Posts </a>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}